/* YOU CAN ADD NON-WYMEDITOR RELATED STYLES HERE */

body {
  font-family: Verdana;
}

h1 {
  font-size: 1.5em;
}

/* EDITOR RELATED STYLES - CUSTOMIZE FOR YOUR NEEDS */
/*
    The classes panel, the visual feedback and the preview
    will be affected by these values.
    
    - Commented styles inside style definitions are used for visual 
      feedback when using the editor.
    - Comments before opening the style are used as caption.
    - Comments after the class name and before the style declaration ({)
      define the jQuery expression that decides whether this 
      style should be applied or not.
      
    Note: the WYMeditor and /WYMeditor comments below are required
    for the CSS parser to work properly.
*/

/* WYMeditor */

/* Bild zentriert */
img.content-img-center {
	display:block;
	margin:10px auto;
	/*
	display:block;
	margin:10px auto;
	*/
}

/* Bild rechts Textumfliessend */
img.content-img-right /* img[@class!="content-img-left"] */ {
	float:right;
	margin-left:5px;
	/*
	float:right;
	margin-left:5px;
	*/
}

/* Bild links Textumfliessend */
img.content-img-left /* img[@class!="content-img-right"] */ {
	float:left;
	margin-right:5px;
	/*
	float:left;
	margin-right:5px;
	*/
}

/* Bildrahmen */
img.content-img-border /* img */ {
    border: 1px solid #ccc;
    /* border: 4px solid #ccc; */
}

/* /WYMeditor */
/* END EDITOR RELATED STYLES */


/* YOU CAN ADD NON-WYMEDITOR RELATED STYLES HERE */
