<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8" />
  <title>{title}</title>
  <link rel="stylesheet" type="text/css" href="templates/stylesheets/wymeditor-popup.css" />
  <!-- jQuery library is required, see http://jquery.com/ -->
  <script src="templates/javascript/jquery/jquery1-7-2.js" type="text/javascript"></script>
  <!-- Utitities -->
  <script src="templates/javascript/cms-utilities.js" type="text/javascript" language="javascript"></script>
  {javascript}
</head>

<body class="{body_css_class}"{body_onload}>

<script src="templates/javascript/wz-tooltip.js" type="text/javascript" language="javascript"></script>

{content}

</body>
</html>