<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml;charset=utf-8" />
  <title>{title}</title>
  <link rel="stylesheet" type="text/css" href="templates/stylesheets/wymeditor_popup.css" />
  <script src="templates/javascript/public_functions.js" type="text/javascript" language="javascript"></script>
  {javascript}
</head>

<body class="{body_css_class}"{body_onload}>

<script src="templates/javascript/wz_tooltip.js" type="text/javascript" language="javascript"></script>

{content}

</body>
</html>