<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
 <head>
   <meta http-equiv="content-type" content="application/xhtml+xml;charset=utf-8" />
   <title>Swiss Webdesign - CMS Administration :: Login</title>
   <link rel="stylesheet" type="text/css" href="templates/stylesheets/login.css" />
   <script src="templates/javascript/public_functions.js" type="text/javascript" language="javascript"></script>
 </head>

 <body onload="autoFocus();">
   <div id="webdesign">
     <a href="http://www.swiss-webdesign.ch/"><img src="img/swiss-webdesign.png"></a>
  </div>

   <div id="center">
     <div id="content">
       <h1>CMS Administration</h1>
       <p>{error}</p>
       <h2>Anmelden</h2>
       <form name="form" action="{request_uri}" method="post" class="form_acp_standard" accept-charset="utf-8">
         <ol>
           <li class="obligation">
             <label class="line" for="acp_login_name">Benutzernamen</label>
             <input type="text" name="acp_login_name" id="acp_login_name" class="input_text" />
           </li>
           <li class="obligation">
             <label class="line" for="acp_login_password">Passwort</label>
             <input type="password" name="acp_login_password" id="acp_login_password" class="input_text" />
           </li>
           <li>
             <label class="line_hide"></label>
             <input type="submit" name="acp_login_button" value="Anmelden" class="input_btn" />
           </li>
         </ol>
       </form>
     </div>
   </div>
 </body>
</html>