<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml;charset=utf-8" />
  <title>Swiss Webdesign - CMS Administration</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/wymeditor_popup.css" />
</head>

<body class="wym_dialog_insert" onload="opener.document.forms['form'].submit();window.close();">

<div class="box_ok">
  <h1>Angemeldet</h1>
  <p>Sie haben Sich erfolgreich angemeldet und können nun die Änderungen abspeichern!</p>
</div>

</body>
</html>