<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml;charset=utf-8" />
  <title>{caption} - {company}</title>
  <link rel="stylesheet" type="text/css" href="/templates/stylesheets/style.css" />
</head>

<body>

<div id="head">
  <p class="info-right">{admin_email}</p>
  <!--<p class="box-right">{description}</p>-->
  <h1>{company}</h1>
  <h2>{header}</h2>
</div>

<div id="bar">
  {menu_path}
</div>

<div id="left-side">
  <div>
    <h1>Menü</h1>
    {menu_main}
  </div>
  <div>
    <h1>Tags</h1>
    {tags}
  </div>
</div>

<div id="page-top">
  <h1>{caption}</h1>
  {slogan}
</div>

<div id="right-side">
{plugin_login}
  <div>
    <h1>Beschreibung</h1>
    {description}
  </div>
</div>

<div id="page">
  {html}
</div>

<div id="page-bottom">
  {date} - {writer_name} &lt;{writer_email}&gt;
</div>

<div id="end-list">
  CMS Version {cms_version} | Generierungszeit {runtime}
</div>

</body>
</html>
